<ion-view view-title="Lista">
    <ion-content class="has-header">
        <h1 class="vamosjuntas-home-header">Vamos Juntas!</h1>
        <form ng-submit="searchAddress()">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Procurar um lugar" ng-model="search.text">
            </label>
            <button class="button button-small button-royal vamosjuntas-search-button" type="submit">
              Buscar
            </button>
         </form>
      <ul ng-repeat="place in addresses track by $index">
          <li>
            {{place.description}}
          </li>
      </ul>

        <h4>Localidades de risco próximos a você</h4>
        <div class="list">
            <a class="item item-thumbnail-left" href="#" ng-repeat="report in places.reports">
                <img src="http://lorempixel.com/80/80"/>
                <h2>{{ report.title }}</h2>
                <p>{{ report.quantity }} denúncias</p>
            </a>
        </div>

        <button class="button button-block button-positive" ui-sref="report">
            Reportar risco
        </button>

    </ion-content>
</ion-view>
