<ion-view view-title="Lista">
  <ion-nav-title class="place-details-navbar">
    <img src="img/logo-27h.png">
  </ion-nav-title>
    <ion-content class="has-header">
        <p ng-if="errorMessage">
          Não foi possível encontrar sua localização. Verifique se seu GPS está ligado.
        </p>
        <div class="vamosjuntas-home-header-wrapper">
            <h3 class="vamosjuntas-home-header">Lista de Denúncias</h3>
        </div>
        <hr class="pink-horizontal-rule">
        <form ng-submit="searchAddress()">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" class="search-input-text" placeholder="Procurar um lugar" ng-model="search.text" googleplace>
                <button class="button vamosjuntas-search-button" type="submit">
                  BUSCAR
                </button>
            </label>
         </form>
      <ul class="place-list list">
          <li ng-repeat="place in addresses track by $index" class="item item-icon-left" ng-click="confirmAddress(place)">
              <i class="icon ion-ios-location"></i>
                {{place.description}}
          </li>
          <li ng-if= "addresses !== undefined && !addresses.length">
            Nenhum resultado encontrado.
          </li>
      </ul>

      <h4>Localidades de risco próximos a você</h4>
      <div ng-repeat="place in places">
        <div class="list bordered-places-list">
          <a class="item" ng-click="getSpecificPlace(place)" ui-sref="placeDetails">
            <h2>{{ place.address }}</h2>
            <hr class="grey-horizontal-rule">
            <p class="number-of-occurrences">({{ getTotalOfOccurrences(place) }}) denúncias</p>
          </a>
        </div>
      </div>
      <button class="button button-block button-positive" ui-sref="report({address: search.text, latitude: search.latitude, longitude: search.longitude})">
        REPORTAR RISCO
      </button>
  </ion-content>
</ion-view>
