<ion-view>
    <ion-content class="padding">
        <h2>{{placeDetails.title}}</h2>
        <h3>Este local tem os seguintes reportes<h3>
        <ul class="list list-inset">
            <li class="item" ng-repeat="occurrences in placeDetails.occurrences">
                {{occurrences.risk}} ({{occurrences.numberOfOccurrences}} ocorrencias)
            </li>
        </ul>
        <button class="button button-block button-positive" ng-click="submit()">Reportar risco nesse endereço</button>
    </ion-content>
</ion-view>
