<ion-view>
	<ion-content class="padding">
    <h3>Reportar risco</h3>
    <p>Quando for escrever a denúncia, procure dar referências de onde você estava. Parque, ruas e estações de metrô podem ser grandes.</p>

    <form name="reportForm" ng-submit="submit(reportForm)" novalidate>
      <div class="list list-inset">
        <label class="item item-input" ng-class="{'has-errors' : reportForm.address.$invalid && !reportForm.address.$pristine}">
          <span class="input-label">Endereço*</span>
          <input type="text" name="address" class="address" placeholder="Onde você estava?" ng-model="report.address" required />
        </label>
        <label class="item item-input">
          <span class="input-label">Data*</span>
          <input type="date" class="date" ng-model="report.date" required>
        </label>
        <div>
          <label class="item item-input item-select">
            <div class="input-label">Turno*</div>
            <select class="period" ng-model="report.period" required>
              <option>Manhã</option>
              <option>Tarde</option>
              <option>Noite</option>
              <option>Madrugada</option>
            </select>
          </label>
        </div>
        <div>
          <label class="item item-input item-select">
            <div class="input-label">Risco*</div>
            <select class="risk" ng-model="report.risk" required>
              <option>Local Deserto</option>
              <option>Mal iluminado</option>
              <option>Risco em potencial</option>
              <option>Roubo</option>
              <option>Abuso</option>
              <option>Cantada Agressiva</option>
            </select>
          </label>
        </div>  
      </div>
      <button type="submit" class="button button-block button-positive">Enviar</button>
    </form>
  </ion-content>
</ion-view>
