<ion-view view-title="Reportar Risco">
  <ion-nav-bar ng-controller="ReportAddressController">
    <ion-nav-back-button id="backBtn" class="button-clear" ng-click="myGoBack()">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>
	<ion-content class="padding">
    <h3>Reportar risco</h3>
    <p>Quando for escrever a denúncia, procure dar referências de onde você estava. Parque, ruas e estações de metrô podem ser grandes.</p>

    <form name="reportForm" method="post" novalidate>
      <div class="list list-inset">
        <label class="item item-input" ng-class="{'has-errors' : reportForm.address.$invalid && !reportForm.address.$pristine}">
          <span class="input-label">Endereço*</span>
          <input type="text" name="address" class="address" placeholder="Onde você estava?" ng-model="report.address" required />
        </label>
        <label class="item item-input" ng-class="{'has-errors' : reportForm.date.$invalid && !reportForm.date.$pristine}" ng-min="15-06-2000">
          <span class="input-label">Data e Hora*</span>
          <input name="date" type="datetime-local" class="date" ng-model="report.date" required>
        </label>
        <div>
          <label class="item item-input item-select" ng-class="{'has-errors' : reportForm.risk.$invalid && !reportForm.risk.$pristine}">
            <div class="input-label">Risco*</div>
            <select name="risk" class="risk" ng-model="report.risk" ng-model-instant required>
              <option value="">Selecione um risco</option>
              <option>Local Deserto</option>
              <option>Local Mal Iluminado</option>
              <option>Risco em potencial</option>
              <option>Roubo</option>
              <option>Abuso</option>
              <option>Cantada Agressiva</option>
            </select>
          </label>
        </div>
      </div>
      <button id="submitButton" type="submit" ng-disabled="reportForm.$invalid" ng-click="submit(reportForm.$valid)" class="button button-block button-positive">Enviar</button>
    </form>
  </ion-content>
</ion-view>
