<style>
div {
  text-align:justify;
  text-justify:kashida;
}
</style>

<div width="100%" class="text">
      Lorem ipsum dolor sit amet, mea id nullam dissentiet. Ea saperet contentiones eam, integre perpetua id vis. Id mel pertinacia maiestatis, pri id postea verear, sed at detracto salutandi. At vim libris singulis, ei rebum fugit sed. In vix atqui accusam appareat, ipsum zril primis ut ius.
      Per graeci delicata no. Putant persius te quo, est id eros dissentiunt. Cu suas solum nam, vivendum signiferumque usu cu, et vix eirmod definiebas. Et nec eligendi cotidieque, mel fugit vocent necessitatibus id, ei usu fuisset petentium consequuntur. Et vim sale omnium commune, qui nostrud fabellas qualisque an.
      Lorem ipsum dolor sit amet, mea id nullam dissentiet. Ea saperet contentiones eam, integre perpetua id vis. Id mel pertinacia maiestatis, pri id postea verear, sed at detracto salutandi. At vim libris singulis, ei rebum fugit sed. In vix atqui accusam appareat, ipsum zril primis ut ius.
      Per graeci delicata no. Putant persius te quo, est id eros dissentiunt. Cu suas solum nam, vivendum signiferumque usu cu, et vix eirmod definiebas. Et nec eligendi cotidieque, mel fugit vocent necessitatibus id, ei usu fuisset petentium consequuntur. Et vim sale omnium commune, qui nostrud fabellas qualisque an.
      Lorem ipsum dolor sit amet, mea id nullam dissentiet. Ea saperet contentiones eam, integre perpetua id vis. Id mel pertinacia maiestatis, pri id postea verear, sed at detracto salutandi. At vim libris singulis, ei rebum fugit sed. In vix atqui accusam appareat, ipsum zril primis ut ius.
      Per graeci delicata no. Putant persius te quo, est id eros dissentiunt. Cu suas solum nam, vivendum signiferumque usu cu, et vix eirmod definiebas. Et nec eligendi cotidieque, mel fugit vocent necessitatibus id, ei usu fuisset petentium consequuntur. Et vim sale omnium commune, qui nostrud fabellas qualisque an.
      Lorem ipsum dolor sit amet, mea id nullam dissentiet. Ea saperet contentiones eam, integre perpetua id vis. Id mel pertinacia maiestatis, pri id postea verear, sed at detracto salutandi. At vim libris singulis, ei rebum fugit sed. In vix atqui accusam appareat, ipsum zril primis ut ius.
      Per graeci delicata no. Putant persius te quo, est id eros dissentiunt. Cu suas solum nam, vivendum signiferumque usu cu, et vix eirmod definiebas. Et nec eligendi cotidieque, mel fugit vocent necessitatibus id, ei usu fuisset petentium consequuntur. Et vim sale omnium commune, qui nostrud fabellas qualisque an
</div>
