bower_components/
node_modules/
www/lib/
.tmp
.sass-cache
<%= appPath %>/bower_components
coverage/
platforms/
plugins/
*.swp
*.swo
*.log
*.DS_Store
www/css/ionic.app.css
www/css/ionic.app.min.css
.idea/
